@import url('./main-layout.css');
@import url('./views/almacen-view.css');
@import url('./views/inventario-view.css');
@import url('./views/map-view.css');    html {
      --lumo-primary-color: hsl(214, 74%, 32%);
      --lumo-primary-color-50pct: hsla(214, 74%, 32%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 74%, 32%, 0.1);
      --lumo-primary-text-color: hsl(214, 82%, 15%);
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;

    }
